<!-- Bottom Navigation -->
<nav class="bottom-nav border-top">
    <div class="container">
        <div class="row g-0">
            <div class="col text-center">
                <a href="index.html" class="nav-link" data-page="index">
                    <i class="bi bi-house fs-5"></i>
                    <div class="nav-text">Home</div>
                </a>
            </div>
            <div class="col text-center">
                <a href="flashcards.html" class="nav-link" data-page="flashcards">
                    <i class="bi bi-card-checklist fs-5"></i>
                    <div class="nav-text">Cards</div>
                </a>
            </div>
            <div class="col text-center">
                <a href="sentences.html" class="nav-link" data-page="sentences">
                    <i class="bi bi-chat-text fs-5"></i>
                    <div class="nav-text">Sentences</div>
                </a>
            </div>
            <div class="col text-center">
                <a href="quiz.html" class="nav-link" data-page="quiz">
                    <i class="bi bi-question-circle fs-5"></i>
                    <div class="nav-text">Quiz</div>
                </a>
            </div>
            <div class="col text-center">
                <a href="synthesiser.html" class="nav-link" data-page="synthesiser">
                    <i class="bi bi-mic fs-5"></i>
                    <div class="nav-text">Voice</div>
                </a>
            </div>
        </div>
    </div>
</nav>
